{% extends 'techpong/base.html' %}

{% block additional_header %}
  {% if request.user and request.user.username and request.user.profile.company %}
  <a href="{% url 'dashboard' company_name=request.user.username %}" class='btn btn-info'>
    <div class='fa fa-arrow'></div> Go to Your Ladder
  </a>
  {% else %}
  <button class="btn btn-success" data-toggle="modal" data-target="#signupModal" title="Create Your Own Ladder" data-tooltip>
    <div class='fa fa-plus'></div> Set up a New Ladder
  </button>
  {% endif %}
{% endblock %}

{% block content %}
<div class="wrapper">
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side strech">

                <!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-xs-4">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                  <h3>{{total_companies}}</h3>
                                  <p>Companies Playing</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-xs-4">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                  <h3>{{total_matches}}</h3>
                                  <p>Matches Completed</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-xs-4">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                  <h3>{{total_players}}</h3>
                                  <p>Players</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person"></i>
                                </div>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->


                    <div class="row">
                      <div class="col-xs-12 ">
                        <h1>StartupPong - Such PingPong. Very Startup.</h1>
                        <p>StartupPong manages and displays your company ping pong
                        ladder using either direct challenge or ELU ratings.
                        Sign up and start playing immediately!</p>
                        <div id="slider" class="nivoSlider">
                          <img src="{% static 'img/techpong_ladder_frame.png' %}" alt="" title="#slide1_caption" />
                          <img src="{% static 'img/techpong_match_frame.png' %}" alt="" title="#slide2_caption"/>
                          <img src="{% static 'img/techpong_history_frame.png' %}" alt="" title="#slide3_caption" />
                        </div>
                          <div id="slide1_caption" class="nivo-html-caption">
                            Visually see your entire ladder, ordered by rank or rating.
                          </div>
                          <div id="slide2_caption" class="nivo-html-caption">
                            See every player and match in the company at a glance
                            or view all the details about just one player at a time.
                          </div>
                          <div id="slide3_caption" class="nivo-html-caption">
                            History graphs show how each player's rank and rating change over time.
                          </div>
                      </div><!-- /.col -->
                    </div>
                    <!-- top row -->
                    <!-- /.row -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
          </div><!-- ./wrapper -->


<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create Your Own Ladder</h4>
      </div>
      <div class="modal-body">

        <p>StartupPong.com is open source and hosted for free. Fork
        <a href="https://github.com/collingreen/startuppong">the repo</a> and
        set up your own site or simply sign up here and get your own company
        ladder instantly.
        </p>

        <form role="form" class="form-horizontal" id="signupForm">
          <div class="form-group">
            <div class="col-lg-3">
              <label class="control-label" for="signupCompanyName">Company Name</label>
            </div>
            <div class="col-lg-9">
              <input type="text" class="form-control atLeast3" id="signupCompanyName" data-validation-error="Invalid Company Name"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-3">
              <label class="control-label" for="signupPassword">Password</label>
            </div>
            <div class="col-lg-9">
              <input type="password" class="form-control atLeast3" id="signupPassword" data-validation-error="Invalid Password"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-3">
              <label class="control-label" for="signupEmail">Email</label>
            </div>
            <div class="col-lg-9">
              <input type="email" class="form-control atLeast3" id="signupEmail" data-validation-error="Invalid Email"/>
            </div>
          </div>
        </form>
        <div id="signupAlertContainer"></div>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="signupModalSave">Signup</button>
      </div>
    </div>
  </div>
  {% endblock content %}


  {% block additional_js %}
  <script type='text/javascript'>
    $ = jQuery;
    $(window).load(function() {
      $('#slider').nivoSlider({
        pauseTime: 5000
      });
    });

    $('#signupModalSave').on('click', function(){
      // target for in-modal alerts
      var alert_target = $("#signupAlertContainer");

      // lightly validate input
      $("#signupForm input").trigger("change");
      var company_name = $("#signupCompanyName").val();
      var password = $("#signupPassword").val();
      var email = $("#signupEmail").val();

      var valid = $("#signupForm").attr("data-form-valid") == "true";
      if (!valid) {
        showError(
          $("#signupForm").attr("data-form-error") || "Please Complete the Form",
          alert_target
        );
        return;
      }

      // send to server
      $("#signupModalSave").attr("disabled", true);
      $.ajax("{% url 'ajax_signup' %}", {
        method: "POST",
        headers: {"X-CSRFToken": "{{ csrf_token|safe() }}"},
        data: {
          company_name: company_name,
          password: password,
          email: email
        },
        success: function(response) {
          if (response.success) {
            // company account was created and logged in - redirect to dashboard
            if (response.redirect) {
              window.location = response.redirect;
            }
            else {
              showSuccess(
                "Account Created! Please Log In!",
                $("#signupAlertContainer")
              );
            }

          }
          else {
            $("#signupModalSave").attr("disabled", false);
            var error_message = "There was an error while creating your account. Please try again.";
            if (response.error_message) {
              error_message = response.error_message;
            }
            showError(error_message, $("#signupAlertContainer"));
          }
        },
        failure: function(response) {
          $("#signupModalSave").attr("disabled", false);
            showError(
              "There was an error while creating your account. Please try again.",
              $("#signupAlertContainer")
            );
        },
        error: function(response) {
          $("#signupModalSave").attr("disabled", false);
            showError(
              "There was an error while creating your account. Please try again.",
              $("#signupAlertContainer")
            );
          $("#addMatchModal").modal("hide");
        }
      });
    });

  </script>
  {% endblock additional_js %}
