
.error { color: red; }

.clickable { cursor: pointer; }
.header-image { min-height: 110px; }
.header .logo { margin-right: 20px; }

#company_header { position: absolute;  }

.ladder, .matches { font-size: 130%; }

.box-tools .btn { margin: 5px; }

.modal { bottom: inherit; overflow-y: visible; } /* why is this needed? modal continues to bottom otherwise */

.box .box-header .box-title { font-weight: bold; }
.box .box-header .box-title-full { width: 100%; }

.text-success { color: #117733; }

.score-select { width: 60px; }
.game-label { font-weight: bold; margin-top: 20px; }

.form-horizontal .control-label { float: right; width: auto; }
.form-horizontal input { margin-top: 5px; }
